{% extends "buyer/base.html" %}
{% block title %}
    购物车
{% endblock %}
{% block content %}
    <div class="total_count">全部商品<em>2</em>件</div>
    <ul class="cart_list_th clearfix">
        <li class="col01">商品名称</li>
        <li class="col02">商品单位</li>
        <li class="col03">商品价格</li>
        <li class="col04">数量</li>
        <li class="col05">小计</li>
        <li class="col06">操作</li>
    </ul>
    <form action="/buyer/place_order_more/" method="post">
        {% csrf_token %}
        {% for one in cart %}
            <ul class="cart_list_td clearfix">
                <li class="col01">
                    <input type="checkbox" name="cartid_{{ one.id }}" class="goods_box" value="{{ one.id }}">
                </li>
                <li class="col02"><img src="/static/{{ one.goods.goods_picture }}"></li>
                <li class="col03">{{ one.goods.goods_name }}<br><em>{{ one.goods.goods_price }}/500g</em></li>
                <li class="col04">500g</li>
                <li class="col05">{{ one.goods.goods_price }}元</li>
                <li class="col06">
                    <div class="num_add">
                        <a href="javascript:;" class="add fl" onclick="jisuan({{ one.id }},'add')">+</a>
                        <input type="text" class="num_show fl" id ="num_show_{{ one.id }}" value="{{ one.goods_number }}">
                        <a href="javascript:;" class="minus fl" onclick="jisuan({{ one.id }},'reduce')">-</a>
                    </div>
                </li>
                <li class="col07" id ="count_{{ one.id }}">{{ one.goods_total }}元</li>
                <li class="col08"><a href="/buyer/delete_cart/?cart_id={{ one.id }}">删除</a></li>
            </ul>
        {% endfor %}




        <ul class="settlements">
            <li class="col01"><input type="checkbox" name="" id="all_box"></li>
            <li class="col02">全选</li>
            <li class="col03">合计(不含运费)：<span>¥</span><em id="total_mount">0</em><br>共计<b id="number">0</b>件商品</li>
            <li class="col04">
                <input style="width: 150px;height: 50px;" type="submit" value="去结算">
            </li>
        </ul>
    </form>

{% endblock %}

{% block script %}
    <script>
    function getdata(id,type) {
        var result = null;
        $.ajax({
            url:"/buyer/change_cart/?cart_id="+id + "&type=" + type,
            type:"get",
            data:"",
            success:function (result) {
                if (result.code == 10000){
                    console.log(result.data.goods_number);
                    // 设置值
                    document.getElementById("num_show_" + id).value = result.data.goods_number;
                    var data = document.getElementById("count_" + id).innerHTML = result.data.goods_total;

                }
            },
            error: function (error) {
                console.log(error);
            }
        });

    }

    function jisuan(id,type){
        //var domid = "num_show_" + id
        //var num = document.getElementById(domid).value
        getdata(id,type)
    }


        $("#all_box").click(
            function () {
                // 点击全选，将所有的全部选中   checked
                //console.log(this.checked);   //  判断当前的元素对象是否有checked 属性
                //  如果为 True 有checked属性   被选中的状态
                if (this.checked) {
                    //   True
                    // 被选中   设置 每一项 增加checked 属性
                    // 通过类选择器 找到元素  增加checked 属性
                    $(".goods_box").prop("checked", true);

                } else {
                    // 去掉所有元素的 checked 属性
                    $(".goods_box").prop("checked", false);
                }
                // 点击去掉全选，将所有已经选中的去掉选中
                add()
            }
        )

        $(".goods_box").each(
            function () {
                $(this).click(
                    function () {
                        if(!this.checked){
                            // True
                            $("#all_box").prop("checked",false)
                        }
                        add()
                    }

                )
            }
        )

        function add() {
            //  获取 checked 属性   计算值
            var dict = {"num":0,"total_mount":0}
            $(".goods_box").each(
                function () {
                    // console.log(this.checked);
                    //  获取 checked属性对应的  单件商品的数量 和 小计
                    if (this.checked) {
                        var number = parseInt($(this).parents(".cart_list_td").find(".num_show").val())
                        var total = parseFloat($(this).parents(".cart_list_td").find(".col07").text())
                        console.log(total)
                        dict.num += 1
                        dict.total_mount += total
                    }
                }
            )
            //  设置值
            $("#number").text(dict.num)
            $("#total_mount").text(dict.total_mount)
        }

    </script>
{% endblock %}
